version: '2'

services:
  knox-dev:
    build:
      context: ./build
      args:
        gitcommand: git clone https://github.com/apache/knox.git knox
        knoxversion: 0.11.0-SNAPSHOT
    image: moresandeep/knox-dev:master

  ldap:
    image: moresandeep/knox-dev:master
    command: /ldap.sh

  knox:
    image: moresandeep/knox-dev:master
    ports:
      - "8443:8443"
    command: /gateway.sh
    volumes:
      - ./topologies:/knox-runtime/conf/topologies
      - ./zeppelinui:/knox-runtime/data/services/zeppelinui
      - ./zeppelinws:/knox-runtime/data/services/zeppelinws
    depends_on:
      - ldap
